.app-name-link img {
    width: 200px;
}

.navigation-extra { margin-bottom: 1em; }
.btn { display: inline-block; padding: .3em .6em; border: 1px solid #ccc; border-radius: 4px; text-decoration: none; }
.btn-home { margin-right: .5em; }
.btn-up   { 
    margin-top: 1em; /* Example style */
}
